{% extends 'mybase.html' %}
{% block pagetitle %}
Hello, {{ name }}.<br>
{% endblock %}
{% block body %}
<div>
<a href = '/accounts/email/'>Change E-mail</a>
</div>
<div>
<form action = '{% url 'myprofile' %}' method = 'post' name = 'sigform'>
    {% csrf_token %}
    Signature: <input type = 'text' name = 'sig_change' value = '{{sig}}'>
    <input type = 'submit' value = 'Change it!'> 
</form>
</div>

MY QUEUE
<form action = '{% url 'myprofile' %}' method = 'post' name = 'queueform'>
{% csrf_token %}
{% if queue.count == 0 %}
<div>
You have nothing in your queue!
<a href = {% url 'display:main' %}>Go add more!</a>
</div>
{% else %}
<table border = '1'>
    {% for dev in queue %}
        {% if dev.written == False %}
           <tr>
            <td><input type = 'checkbox' name = 'remove_{{dev.id}}'>
            </td>
            <td><a href = {% url 'display:profile' dev.developer_id %}>{{dev.developer}}</a>
            </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<input type = 'submit' value = 'Remove checked'>
</form>
{% endif %}
{% endblock %}
